!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      = @page_title || controller.action_name
    = stylesheet_link_tag 'common'
    = javascript_include_tag 'jquery'
  %body
    /
      head
    .gt-hd.clearfix
      /
        logo
      .gt-logo
      %h1
        GOTCHA
      %h6
        todos make with ease
      /
        \/ logo
      #main-top
        %div
          %span
            hi,
            = current_user.email
          = link_to 'Setting', 'setting'
          |
          = link_to 'Profile', 'profile'
          |
          = link_to 'Logout', logout_path
    /
      \/ head
    /
      body
    .gt-bd.gt-cols.clearfix
      /
        main content
      .gt-content
        = render :partial => 'layouts/flashes'
        = yield
      /
        \/ main content
      /
        sidebar
      .gt-sidebar
      /
        \/ sidebar
    /
      \/ body
    /
      footer
    .gt-footer
      %p
        Copyright &copy; 2009
        %a{ :href => "http://www.myapp.com" }
          gotcha.com
    /
      \/footer
